PORT=8000
NODE_ENV=development

DATABASE_URL="postgresql://postgres:<root password>@localhost:5433/<database name>"

# access token config (15mins)
ACCESS_TOKEN_EXPIRY=900000
ACCESS_TOKEN_SECRET=YourAccessTokenSecretHere

# refresh token config (7days)
REFRESH_TOKEN_EXPIRY=604800000
REFRESH_TOKEN_SECRET=YourRefreshTokenSecretHere

FRONTEND_URL=http://localhost:3000
